<div class="createSecretMessage">
	<h1>Create a Secret Message</h1>
	<% form_for Message.new do |f| %>
		Message <br />
		<%= f.text_area :message, :class => 'message resizable' %>
		<br />
		<br />
		Question: <br />
		<%= f.text_field :question, :class => 'question' %>
		<br />
		<br />
		Answer: <br />
		<%= f.text_field :answer, :class => 'answer' %>
		
		<br />
		<br />
		
		<%= submit_tag 'Make it a secret!' %>
		
	<% end %>
	hi
	<br/>
	hi<br/>h	<br/>hi	<br/>hi	<br/>hi	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hihi
	<br/>
	hi<br/>h	<br/>hi	<br/>hi	<br/>hi	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>
	hi<br/>h	<br/>hi	<br/>hi	<br/>hi	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>
	hi<br/>h	<br/>hi	<br/>hi	<br/>hi	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>hi
	<br/>
</div>