/* Global Styles */
*                 {  }
.floatLeft        { float: left;     }
.floatRight       { float: right;    }
.clearBoth        { clear: both;     }
.displayNone      { display: none;   }

A, A:visited, 
A:hover, A:active  { outline: 0px; color: #1EC3EA; }

BODY        { background-color: #88A19F; margin: 0px;        }
H1, H2      { padding: 0 0 5px 0; margin: 0;  }
FORM        { padding: 0; margin: 0;          }

.small      { font-size: 12px; color: gray;   }
.badges     { padding-top: 20px; padding-left: 752px;}

/* Layout Styles */
.bodyContent   { width: 800px; background-color: white; padding: 15px 15px 15px 15px; margin: auto; }
IMG.logo       { margin: auto; display: block;}

/* Error Messages Block  */
.errorMessages          { padding-left: 18px; }
.errorMessagesHeader    { color: red; font-size: 19px; font-variant: small-caps;}
.errorMessages UL       { padding: 0 0 0 20px; margin: 0 0 0 0;}

/* Message Creation Styles */
.createSecretMessage .step       { font-size: 18px; color: #4BB4CA; padding: 0 5px 2px 0; display: block;  font-weight: bold; }
.createSecretMessage .submit     { height: 100px; width: 250px; margin: auto; display: block; margin-top: 35px; margin-bottom: 20px;
	 							   border: 2px solid #1EC3EA; font-size: 21px; color: #4BB4CA; font-weight: bold; }
.createSecretMessage TABLE TD    { vertical-align: top;                                  }
.createSecretMessage TD.message  { width: 500px;                                         }
.createSecretMessage .options  { width: 300px; border: 2px solid gray; margin: 15px 2px; padding: 8px 4px; }
.createSecretMessage .message INPUT    { width: 400px;                                   }
.createSecretMessage .message    { text-align: center; padding: 10px 0 15px 20px;        }
.createSecretMessage .questionAndAnswer { padding-left: 16px; padding-top: 5px; padding-bottom: 15px; }
.createSecretMessage .question TEXTAREA,
.createSecretMessage .hint TEXTAREA   { width: 300px; height: 35px;                   }                      
.createSecretMessage .answer          { padding-top: 15px;                               }
.createSecretMessage .answer INPUT    { width: 300px;                                    }
.createSecretMessage .hint            { padding-bottom: 15px;                               }
.createSecretMessage .hint INPUT      { width: 300px;                                    }
.createSecretMessage .section         { width: 475px;   margin: 15px 0;                       }
.createSecretMessage .outlinedSection { border: 2px solid gray;	margin: 15px 2px; width: 459px;	padding: 8px 4px; }
.createSecretMessage .instruction     { padding: 0 15px;                				     }
.createSecretMessage .overview        { font-size: 15px; color: gray; padding: 0 0 15px 0; }

.createSecretMessage .difficultyHeader { text-align: center; font-size: 18px; font-weight: bold; }
.createSecretMessage .hard   { color: red;    }
.createSecretMessage .medium { color: yellow; }
.createSecretMessage .easy   { color: green;  }

.createSecretMessage .moreInfoAboutSelection { padding: 15px 20px; text-align: center; }

.createSecretMessage .difficultyInstruction { float: right; width: 220px; height: 110px; padding: 8px 4px; border: 2px solid gray; margin: 2px;}
.createSecretMessage .difficulty           { float: left; width: 220px; height: 110px; padding: 8px 4px; border: 2px solid gray; margin: 2px; }
.createSecretMessage .difficulty SELECT  { margin-left: 62px; margin-top: 15px;     }

.createSecretMessage .recipientEmail     { padding-left: 10px; padding-top: 5px; }
.createSecretMessage .sendRecipientEmail .NOTE { padding-left: 23px; }
.createSecretMessage .recipientEmail INPUT { size: 50px; }
.createSecretMessage .showAnother          { font-size: 13px; padding-top: 15px; padding-right: 124px; }
.createSecretMessage H3.hints              { font-size: 18px; color: gray; margin-bottom: 5px; margin-top: 22px;  }

/* View Message Styles */
.viewAMessage H4         { margin: 10px;}
.viewAMessage .question { border: 2px solid gray; background-color: #F5F5F5; width: 400px; height: 70px; padding: 5px; 
						  margin: 0 0 20px 25px; position: relative; }
.viewAMessage .questionMark { position: absolute; left: 415px; top:5px; font-size: 70px; color: #1EC3EA; font-weight: bold; }
.viewAMessage .quess        { margin: 0 0 0 25px; }
.viewAMessage .encodedMessage { border: 2px solid gray; background-color: #F5F5F5; width: 500px; padding: 5px; margin: 0 0 0 25px;}			

/** Correct guess page. */
.correctGuess H4       { margin: 5px 0 15px 0;}
.correctGuess .message { border: 2px solid gray; background-color: #F5F5F5; width: 500px; padding: 5px; margin: 0 0 0 25px; }

/**
* Grippie related styles
*/
div.grippie { background:#EEEEEE url(/images/grippie.png) no-repeat scroll center 2px; border-color:#DDDDDD; border-style:solid; border-width:0pt 1px 1px; cursor:s-resize; height:9px; overflow:hidden; }
.resizable-textarea textarea { display:block; margin-bottom:0pt; width:95%; height: 20%; }